
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: #fafafa;
}

.nav{
  width:100%;
  height:4.5rem;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



